body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

.hero,
.info-panel,
.quote-panel,
.footer,
.button-panel {
  padding: 0 200px;
}

.hero,
.footer {
  display: flex;
  background-color: #1f2937;
  color: #f9faf8;
}

.header {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #f9faf8;
}

.links {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 16px;
  font-size: 18px;
  color: #e5e7eb;
}

label {
  font-size: 48px;
  font-weight: 800;
}

.container {
  display: flex;
  margin: 50px;
}

.placeholder-img {
  display: flex;
  max-width: 75%;
  min-width: 25%;
  height: auto;
  min-width: 300px;
  margin-left: auto;
}

.container > p {
  font-size: 18px;
}

.info-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-section {
  display: flex;
  text-align: center;
  gap: 36px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.img-content {
  height: 100px;
  width: 100px;
  border: 2px solid #3882f6;
  border-radius: 10%;
}

.quote-panel {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  padding-top: 50px;
  padding-bottom: 50px;
}

.quote {
  font-style: italic;
  font-size: 36px;
  font-weight: 100;
  margin: 0;
  color: #1f2937;
}

.author {
  align-self: flex-end;
  color: #1f2937;
}

.hero {
  flex-direction: column;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3882f6;
  border-radius: 5px;
  gap: 100px;
  margin: 50px 0;
  padding: 25px;
  height: 75px;
}

.text  > p {
  margin: 0;
  color: #f9faf8;
}

.button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #3882f6;
  color: #f9faf8;
  padding: 5px 20px;
  border-radius: 5px;
  border: none;
}

.invert {
  border: 2px solid;
}

.footer {
  margin-top: auto;
  justify-content: center;
  align-items: center;
  height: 52px;
  font-size: 18px;
}
